/* body { */
    body {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        background: black;
        color: white;
      }
      
      * {
        box-sizing: border-box;
        
      }
/* font color: white / font style: regular*/
      /* cry a bit and eat some pizza */
#bands {
    box-sizing: border-box;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 25px;
    text-align: center;
    
    color: white;
}
/* font color: white */
/* center image */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#win {
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
 
#guess-counter {
    color: white;
}

#losses {
    color:white
}

/* cry and eat some more pizza */

/* center in the middle (if possible) */